@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'PT Sans', sans-serif;
}
  
  .mainContainer {
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.error {
    width: 250px;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 0, 0);
    position: relative;
    top: 200px;
    left: -400px;
}

.form--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
  
  form label {
    width: 50%;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
  
    form input,
    form select {
      width: 25%;
      margin-bottom: 20px;
}
  
   form select:first-of-type {
     width: 160px;
}
  
    form button {
      width: 25%;
}

.myStorage--wrapper {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table {
  width: 60%;
}

th, td {
  width: 25%;
  text-align: center;
}

th {
  background-color: rgb(173, 173, 173);
}

@media only screen and (max-width: 1000px) {

  .mainContainer {
    padding: 10px;
  }
  
  form {
    width: 100%;
}

  form label {
    width: 90%;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
  
  form input,
  form select {
      width: 70%;
      margin-bottom: 20px;
}
  
  form select:first-of-type {
     width: 70%;
}
  
  form button {
      width: 70%;
}

  table {
  font-size: 0.7em;
  width: 90%;
}

  table th,
  table td {
  padding: 2px;
}

}


